#subBody{
    padding: 10px;
}

footer{
    height: 100px;
    /* width: 100%; */
    padding: 30px;
    background-color: #fff;
}

.navbar{
    padding: 10px;
    background-color: #fff;
    
}

h1{
    text-decoration-color: darkgrey;
    text-decoration-line: underline;
    text-align: center;
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
    text-decoration-color: blueviolet;
}
a:hover{
    text-decoration: underline;
}
a:active{
    text-decoration: underline;
    text-decoration-color: red;
}

.cao{
    height: 480px;
}
.rong{
    width: 1000px;
    object-fit: cover;
 }


 .bg-indigo{
    background-color: #ffffff;
    padding: 55px 50px;
    text-indent: 20px;
    text-align:justify;
 }
 
.col-md-4{
    padding: 10px;
    text-align: center;
}


/* cho desktop */
  @media screen and (min-width: 1024px){
    .dropdown:hover > .dropdown-menu{
        display: block;
     }
  }

 @media screen and (max-width: 768px) {
    .col-md-4{
        -ms-text-size-adjust: 100%;
    }
 }

 /* edit icon */
.ICON{
  color: rgb(237, 5, 5);  
}
.DICON{
    color: blue;
}



